.details-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}
ul {
  list-style-type: none;
}

.details-title {
  margin-bottom: 4%;
}

.detail-item-title {
  font-weight: bold;
}

.detail-item {
  margin-bottom: 2%;
  font-size: 24px;
  text-decoration: none;
}

