.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.search-header {
  margin-bottom: 2%;
}

.search-details {
  margin-bottom: 1%;
}